<h1>Forgot Password</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form name="forgetForm" ng-submit="forgotPage.forgotPassword(forgotPage.data)">
            <div class="form-group">
                <label class="sr-only" for="form-username">Email</label>
                <input type="text" name="email" ng-model="forgotPage.data.email" placeholder="Email..." class="form-username form-control"
                    id="email" required>
            </div>
            <button type="submit" ng-disabled="forgetForm.$invalid" class="btn">Request for new Password</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>