 <div class="jumbotron">
    <div class="container text-center">
      <h1>Skill Tester</h1>
      <p>Analyze your skills by taking our tests</p>
    </div>
  </div>
<div class="container-fluid bg-3 text-center">    
  <h2>How it works</h2><br>
  <div class="row">
    <div class="col-sm-3">
      <h4>Multiple Choice</h4>
      <p>
        Each question will have four options. you can select only one option.
      </p>
    </div>
    <div class="col-sm-3"> 
      <h4>Time is money</h4>
      <p>
        You will get 20 minutes to complete the test.Your test will be automatically submitted
            once it reaches given time.
      </p>
    </div>
    <div class="col-sm-3"> 
      <h4>Think twice before you answer</h4>
      <p>
        You cannot alter your answers once you click on next button.
      </p>
    </div>
    <div class="col-sm-3">
      <h4>Wait for it</h4>
      <p>
        On completion of test. Please submit and wait for us to display detailed report.
      </p>
    </div>
  </div>
</div>