<h2>My Statistics</h2>
<h4>Average(by rounding off): {{userDashPage.statsData.average | number:0}}</h4>
<br>
<div class="container">
    <!-- Graph View -->
    <div class="row">
        <div class="col-md-5">
            <canvas id="pie" class="chart chart-pie" chart-colors="userDashPage.colors" chart-data="userDashPage.chartData" chart-labels="userDashPage.chartLabels"
                legend="true">
            </canvas>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">

            <div class="row">
                <div class="well primary-bg">
                    <h4 class="dash-text">
                        <span class="label label-danger pull-right">{{userDashPage.statsData.totalTest}}</span> Total Test</h4>
                </div>
            </div>
            <div class="row">
                <div class="well secondary-bg">
                    <h4 class="dash-text">
                        <span class="label label-primary pull-right">{{userDashPage.statsData.correct}}</span>Total Correct
                        Answer
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="well third-bg">
                    <h4 class="dash-text">
                        <span class="label label-info pull-right">{{userDashPage.statsData.wrong}}</span> Total Wrong Answer</h4>
                </div>
            </div>
            <div class="row">
                <div class="well fourth-bg">
                    <h4 class="dash-text">
                        <span class="label label-success pull-right">{{userDashPage.statsData.score}}</span>Total Score</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends Here -->
    <!--<div class="row">
        
        <div class="col-md-12">
            <h3>List of tests available</h3>
            <p>Please select from the list below</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tests in userDashPage.list">
                        <td>{{tests.name}}</td>
                        <td>{{tests.category}}</td>
                     
                        <td><a ng-click='userDashPage.toggleModal(tests._id)'>Take Test</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>-->
    <div class="row">
        <div class="col-md-12">
             <h3>Tests taken</h3>
            <p>Click on the test to find details</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>Date</th>
                        <th>Time Taken</th>
                        
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tests in userDashPage.data">
                        <td><a ng-href="#/user-result/{{tests._id}}">{{tests.testName}}</a></td>
                        <td><a ng-href="#/user-result/{{tests._id}}">{{tests.takenAt | date:"MM/dd/yyyy 'at' h:mma"}}</a></td>
                        <td><a ng-href="#/user-result/{{tests._id}}">{{tests.timeTaken|toMinSec}}</a></td>
                        <td><a ng-href="#/user-result/{{tests._id}}">{{tests.testScore}}</a></td>
                        <!-- <td><a ng-href="#/take-test/{{tests._id}}">Take Test</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<modal-dialog show='userDashPage.modalShown' width='750px' height='auto'>
    <h3>Please accept rules before taking test</h3>
    <ol>
        <li>
            Each question will have four options. you can select only one option.
        </li>
        <li>You will get 20 minutes to complete the test.Your test will be automatically submitted
            once it reaches given time.
        </li>
        <li>You cannot alter your answers once you click on next button.</li>
        <li>On completion of test. Please submit and wait for us to display detailed report.</li>
    </ol>
    <button type="button" class="btn pull-right" ng-click="userDashPage.takeTest()">I Accept</button>
    <br>
</modal-dialog>-->